In [2]:
# -*- coding: utf-8 -*-
"""
Created on Mon Dec 18 12:01:38 2017

@author: Uwe
"""

#######################################################################################################################-
# Libraries + Parallel Processing Start ----
#######################################################################################################################-

import numpy as np
import pandas as pd
from scipy.stats.mstats import winsorize
import dill
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *
from sklearn.model_selection import GridSearchCV, ShuffleSplit, cross_validate, RepeatedKFold, learning_curve
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import ElasticNet
import xgboost as xgb
import lightgbm as lgbm

import os
os.chdir("C:/My/Projekte/Python")
exec(open("./code/0_init.py").read())

sns.set(style="whitegrid")

'\nCreated on Mon Dec 18 12:01:38 2017\n\n@author: Uwe\n'

run init

dfgsdh

In [ ]:
%ls

In [15]:

#######################################################################################################################-
# Parameters ----
#######################################################################################################################-

dataloc = "./data/"
plotloc = "./output/"


#######################################################################################################################-
# My Functions ----
#######################################################################################################################-

def setdiff(a, b):
    return [x for x in a if x not in set(b)]


#######################################################################################################################-
#|||| ETL ||||----
#######################################################################################################################-

# Read data --------------------------------------------------------------------------------------------------------

#df.orig = read_csv(paste0(dataloc,"titanic.csv"), col_names = TRUE)
df_orig = pd.read_csv(dataloc + "titanic.csv")

dfgsdh

In [16]:
a =1
df_orig.describe()

,survived,age,sibsp,parch,fare,body
count,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.486055,14.413500,1.041658,0.865560,51.758669,97.696922
min,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,1.000000,80.000000,8.000000,9.000000,512.329224,328.000000